#side-nav {
  height: 100vh;
  width: 15vw;
}
#side-nav-content {
  width: 100%;
  overflow-y: auto;
  background-color: black;
  height: 100%;
}

#side-nav-header {
  width: 100%;
  text-align: center;
  display: block;
}
#side-nav-header-logo {
  display: block;
  text-align: left;
  padding-left: 24px;
  padding-top: 24px;
}
#side-nav-header-logo img {
  zoom: 1.3;
}
#side-nav-body {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  display: block;
}
#side-nav-body-content {
  display: block;
  text-align: left;
  padding-left: 24px;
  padding-top: 24px;
}
.side-nav-body-content-item {
  display: flex;
  margin-bottom: 3px;
}
.side-nav-body-content-item-text {
  padding: 0;
  margin: 0;
  margin-top: -8px;
  padding-left: 15px;
  font-weight: 700;
  font-size: 14px;
}
.search {
  padding-left: 11px;
}
.side-nav-body-content-item-text p {
  color: #c2c0c0;
}
.side-nav-body-content-item-icon {
  color: #c2c0c0;
}
.create {
  padding-left: 14px;
  padding-top: -10px;
  margin-top: -10px;
}
.icon {
  padding-left: 4px;
}
.lib {
  padding-left: -10px;
}
#side-nav-body-footer {
  margin-top: 100%;
  padding-left: 24px;
}
#side-nav-body-footer-text {
  text-align: left;
  font-size: 10px;
}

#side-nav-body-footer-text p {
  color: #c2c0c0;
}

.home:hover div {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
.home:hover p {
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.search-bar:hover div {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
.search-bar:hover p {
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.lib-bar:hover div {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
.lib-bar:hover p {
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.like-bar:hover div {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
.like-bar:hover p {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.cp-bar:hover div {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
.cp-bar:hover p {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
#cookies:hover {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
#privacy:hover {
  cursor: pointer;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
.icon-like {
  background: rgb(91, 63, 218);
  background: linear-gradient(
    90deg,
    rgba(91, 63, 218, 1) 0%,
    rgba(148, 148, 235, 1) 100%
  );
  border-radius: 3px;
}
